<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [${LOG_LEVEL_PATTERN:-%5p}] [%15.15t] [%15.15X{DIAGNOSTIC_UID}] [%15.15X{DIAGNOSTIC_ID}] [%-40.40logger{39}] : %msg%n%ex{full, java.lang.reflect.Method, io.undertow, org.springframework.aop, org.springframework.cglib, org.springframework.web, sun.reflect, net.sf.cglib, ByCGLIB}"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <if condition='isNull("LOG_PATH")'>
            <then>
                <file>kcss-rest.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <fileNamePattern>kcss-rest.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                    <maxFileSize>100MB</maxFileSize>
                    <maxHistory>60</maxHistory>
                    <totalSizeCap>5GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <charset>utf-8</charset>
                    <Pattern>${LOG_PATTERN}</Pattern>
                </encoder>
            </then>
            <else>
                <file>${LOG_PATH}/kcss-rest.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <fileNamePattern>${LOG_PATH}/kcss-rest.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                    <maxFileSize>100MB</maxFileSize>
                    <maxHistory>60</maxHistory>
                    <totalSizeCap>5GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <charset>utf-8</charset>
                    <Pattern>${LOG_PATTERN}</Pattern>
                </encoder>
            </else>
        </if>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>
            <Pattern>${LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="FILE"/>
    </appender>

    <logger name="com.kcss" level="INFO"/>

    <logger name="javax.activation" level="WARN"/>
    <logger name="javax.mail" level="WARN"/>
    <logger name="javax.xml.bind" level="WARN"/>

    <logger name="ch.qos.logback" level="INFO"/>

    <logger name="com.sun" level="WARN"/>
    <logger name="com.zaxxer" level="INFO"/>

    <logger name="io.undertow" level="WARN"/>
    <logger name="io.undertow.websockets.jsr" level="ERROR"/>

    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.bson" level="WARN"/>
    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.cache" level="WARN"/>
    <logger name="org.xnio" level="WARN"/>
    <logger name="org.stagemonitor" level="WARN"/>
    <logger name="springfox" level="WARN"/>
    <logger name="sun.rmi" level="WARN"/>
    <logger name="sun.rmi.transport" level="WARN"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <root level="DEBUG">
        <if condition='isNull("LOG_PATH")'>
            <then><appender-ref ref="CONSOLE"/></then>
            <else><appender-ref ref="ASYNC"/></else>
        </if>
    </root>

</configuration>
